body{
    background-color: darkcyan;
    margin: 0 7% 0 0%;
    padding: 3%;
}

th{
    color: whitesmoke;
    background-color: grey;
}

td{
    color: whitesmoke;
    text-align: center;
}

h3{
    color: coral;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px crimson;
}

h4{
    color:cadetblue;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px black;
}

p{
    color: beige;
    font-family: lucida Sans;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px darkslategrey;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 10%;
    width: 100%;
}

#section-one{
    background-image: url('../images/mountain1.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#my-name{
    color:beige;
    font-size: 250%;
    text-shadow: 2px 2px 2px darkslategrey;
    text-transform: uppercase;
    text-align: center;
}

#language-heading{
    color:chocolate;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    text-align: center;
}
#picture{
    width: 40%;
    height: 40%;
    margin: 5%;
}

table, td, th{
    border: 1px solid white;
    border-collapse: collapse;
}

#section-two{
    margin: 0%;
}

#section-three{
    flex-direction: column;
    width: 80%;
}

#section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.hist-img{
    width: 150px;
    height: 150px;
    float: left;
    margin: 3% 7% 5% 0;
}


.hist-text{
    padding: 10%;
}

#city{
    width: 400px;
    height: 250px;
    margin: 5% 5% 5% 0;
    float: left;
}

#city-visit{
    text-align: center;
}

#mthatha-hist-places{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.place{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4%;
    height: 100%;
}

.place-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 950px){
    body{
        background-color:darkkhaki;
        margin: 0%;
    }

    .section{
        display: flex;
        flex-direction: column;
        margin: 3%;
        width: fit-content;
        height: fit-content;
    }

    #my-name{
        text-align: center;
        font-size: 200%;
    }

    table{
        padding: 3%;
        margin: 0 0 0 10%;
    }

    p{
        padding: 5%;
    }

    h4{
        text-align: center;
    }

    #place-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #city{
        width: 100%;
        margin: 0;
    }

    .hist-img{
        margin: 7% 5% 3% 5%;
        width: 200px;
        height: 200px;
        border-radius: 0;
    }

    #section-one{
        background-size: contain;
        width: 100%;
    }

    #place-two-section{
        margin-top: -250px;
    }

     #place-three-section{
        margin-top: -650px;
     }

     #place-three{
        margin: 0 5% 0 0;
     }

    #bogota{
        margin: 5% 5% 5% 0;
    }

    .hist-text{
        padding: 0 0 0 10%;
    }


    #mthatha-hist-places{
        display: flex;
        flex-direction: column;
    }

    #section-four{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

